<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Projects</title>
</head>
<body>

<div class="menu-bar" th:insert = "Navbar :: navbar"></div>
<div th:fragment="projects" id="projects">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${projects}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.serviceType.name}"></td>
    </tr>
    </tbody>
</table>
    <h2>Message: <span> projects text</span></h2>
</div>

</body>
</html>